In [23]:
import pickle
import pandas as pd
import numpy as np

from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV,cross_val_score,cross_validate,StratifiedKFold,KFold
from sklearn.compose import make_column_selector,make_column_transformer
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder

In [30]:
ohe = OneHotEncoder(sparse_output=False,drop='first',).set_output(transform='pandas')
oe = OrdinalEncoder(categories=[['low','medium','high']]).set_output(transform='pandas')

hr = pd.read_csv('../Cases/HRAnalytics/HR_comma_sep.csv')

X = hr.drop('left',axis = 1)
y = hr['left']

trns = make_column_transformer((ohe,['Department']),(oe,['salary']),remainder='passthrough',verbose_feature_names_out=False).set_output(transform='pandas')

kfold = StratifiedKFold(n_splits=5,random_state=25,shuffle=True) #Kfolds

rf = RandomForestClassifier(random_state=25) #Model
pipe = Pipeline([('TRNS',trns),('RF',rf)]) #pipeline
pipe2 = make_pipeline(trns,rf)

#commneting this because execution takes time
# param = {'RF__max_features' : [2,3,4,5,6,7,8]} #param for grid search
# gcv = GridSearchCV(pipe,param_grid=param,cv=kfold,scoring='neg_log_loss')
# gcv.fit(X,y)
# pipe.get_params

# param = {'max_features' : [2,3,4,5,6,7,8]} #param for grid search
# gcv = GridSearchCV(pipe2,param_grid=param,cv=kfold,scoring='accuracy')
# gcv.fit(X,y)

print(gcv.best_params_)
print(gcv.best_score_)
X

{'RF__max_features': 5}
-0.07437072712647692

       satisfaction_level  last_evaluation  number_project  ...  promotion_last_5years  Department  salary
0                    0.38             0.53               2  ...                      0       sales     low
1                    0.80             0.86               5  ...                      0       sales  medium
2                    0.10             0.77               6  ...                      0       sales     low
3                    0.92             0.85               5  ...                      0       sales     low
4                    0.89             1.00               5  ...                      0       sales     low
...                   ...              ...             ...  ...                    ...         ...     ...
14990                0.40             0.57               2  ...                      0     support     low
14991                0.37             0.48               2  ...                      0     support     low
14992                0.37             0.53               2  ...                      0     support     low
14993                0.11             0.96               6  ...                      0     support     low
14994                0.37             0.52               2  ...                      0     support     low

[14995 rows x 9 columns]

In [31]:
model = gcv.best_estimator_

best_model_file = open('best_model.pkl','wb')
pickle.dump(model,best_model_file)
best_model_file.close()