In [13]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
import pandas as pd 
import numpy as np

<h1 style = 'color:Orange'>Standard Scaler</h1>

In [4]:
arr = np.array([[0.35,61,92],
                [0.42,67,98],
                [0.53,64,94],
                [0.6,63,99]])
df = pd.DataFrame(arr,columns=['X1','X2','X3'])
df

     X1    X2    X3
0  0.35  61.0  92.0
1  0.42  67.0  98.0
2  0.53  64.0  94.0
3  0.60  63.0  99.0

In [15]:
#Scaling the columns 
scalar = StandardScaler().set_output(transform='pandas') #initializing the scandard scalar
scalar.fit(df) #scaling
scaled_arr = scalar.transform(df)

print(scalared_arr.mean())
print(scalared_arr.std())

scaled_arr

X1    0.500000
X2    0.458333
X3    0.535714
dtype: float64
X1    0.446019
X2    0.416667
X3    0.472005
dtype: float64

         X1        X2        X3
0 -1.294451 -1.270171 -1.310556
1 -0.569558  1.501111  0.786334
2  0.569558  0.115470 -0.611593
3  1.294451 -0.346410  1.135815

<h1 style = 'color:Orange'>Min max Scaler</h1>

In [18]:
scalar = MinMaxScaler().set_output(transform='pandas') #initializing the scandard scalar
scalar.fit(df) #scaling
scaled_arr = scalar.transform(df)

scaled_arr #scalrs columns value in range of [0,1] 0->minimum value of column 1->maximum value of column

     X1        X2        X3
0  0.00  0.000000  0.000000
1  0.28  1.000000  0.857143
2  0.72  0.500000  0.285714
3  1.00  0.333333  1.000000